*{
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    margin: 0 !important;
    padding: 0 !important;
}
body{
    position: relative;
    z-index: 0;
}
/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #040819;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00acff;
}
/* Animation CSS */
@keyframes bottomReveal {
    from{
        -moz-transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -o-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
.reveal-fixed{
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
    animation: bottomReveal 600ms forwards;
}
.reveal-fixed-delay{
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
    animation: bottomReveal 1200ms forwards;
}
.reveal{
    position: relative;
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}
.reveal.showreveal{
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

.to-top{
    height: 50px;
    width: 50px;
    -webkit-box-shadow: -4px 2px 12px #00000033,
    -2px 2px 16px #00000033,
    2px 2px 22px #00000033,
    4px 2px 32px #00000033,
    6px 2px 42px #00000033,
    20px 2px 52px #00000033;
    -moz-box-shadow: -4px 2px 12px #00000033,
        -2px 2px 16px #00000033,
        2px 2px 22px #00000033,
        4px 2px 32px #00000033,
        6px 2px 42px #00000033,
        20px 2px 52px #00000033;
    -o-shadow: -4px 2px 12px #00000033,
        -2px 2px 16px #00000033,
        2px 2px 22px #00000033,
        4px 2px 32px #00000033,
        6px 2px 42px #00000033,
        20px 2px 52px #00000033;
    box-shadow: -4px 2px 12px #00000033,
        -2px 2px 16px #00000033,
        2px 2px 22px #00000033,
        4px 2px 32px #00000033,
        6px 2px 42px #00000033,
        20px 2px 52px #00000033;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 20px;
    background-color: #ffffff;
    z-index: 20;
    text-decoration: none;
    visibility: visible;
    -moz-animation: bounce 2000ms infinite linear;
    -o-animation: bounce 2000ms infinite linear;
    -webkit-animation: bounce 2000ms infinite linear;
    animation: bounce 2000ms infinite linear;
}

.to-top:hover{
    animation: none;
    -webkit-transition: all ease 2000ms;
    -moz-transition: all ease 2000ms;
    -ms-transition: all ease 2000ms;
    -o-transition: all ease 2000ms;
    transition: all ease 2000ms;
}
.to-top i{
    color: var(--active);
    pointer-events: none;
}
.to-top.show{
    visibility: visible;
}
@-webkit-keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
@-moz-keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
@-o-keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
@-ms-keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}
@keyframes bounce {
    0% { bottom: 40px; }
    50% { bottom: 30px; }
    70% { bottom: 35px; }
    100% { bottom: 40px; }
}

/* == || SCROLL BAR == */
.container{
    margin: auto;
    max-width: 1200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 16;
}
nav.sticky{
    background-color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-box-shadow: 6px 6px 24px #00000033;
    -moz-box-shadow: 6px 6px 24px #00000033;
    box-shadow: 6px 6px 24px #00000033;
}
nav.sticky .right a{
    color: #231F20;
} 
nav .left{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
nav .left .menu{
    font-size: 24px;
    height: fit-content;
    width: fit-content;
}
nav .left .menu button{
    border: 0;
    outline: 0;
    height: fit-content;
    width: fit-content;
    font-size: 24px;
    color: #000000;
    background-color: #00000000;
}
nav .left .menu button i{
    font-size: 24px;
    color: #000000;
}
nav .right{
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}
nav .right a{
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: Gotham-Medium;
}
nav .right button{
    border: 0;
    outline: 0;
    padding: 4px;
    height: fit-content;
    width: fit-content;
    font-size: 24px;
    color: #ffffff;
    background-color: #00000000;
}
nav .right button i{
    font-size: 24px;
    color: #ffffff;
}

main{
    height: fit-content;
    width: 100%;
}
.menu-links{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0px;
    background-color: #231F20;
    z-index: 20;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    animation: left_reveal 500ms forwards;
}
@keyframes left_reveal {
    from{
        -moz-transform: translateX(-100%) !important;
        -webkit-transform: translateX(-100%) !important;
        -o-transform: translateX(-100%) !important;
        -ms-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        opacity: 0;
    }
    to{
        -moz-transform: translateX(100%) !important;
        -webkit-transform: translateX(100%) !important;
        -o-transform: translateX(100%) !important;
        -ms-transform: translateX(100%) !important;
        transform: translateX(100%) !important;
        opacity: 1;
    }
}
.menu-hold{
    height: 100%;
    width: 100%;
    background-color: #231F20;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-links .image{
    width: 10%;
    height: 100% !important;
    position: relative;
    background-image: url('img/Mask\ group\ rotated.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-links .links{
    width: 90%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu-links .links .menu-link{
    position: relative;
}
.menu-links .links .menu-link a{
    padding: 10px 0px;
    color: #ffffff;
    font-family: Gotham-Medium;
    display: block !important;
    text-decoration: none;
}
.menu-links .links .menu-link .closebtn{
    position: absolute;
    background-color: #00000000;
    color: #ffffff;
    outline: none;
    border: 0px;
}
.banner{
    height: 720px;
    position: relative;
    background-color: #F7941E;
    overflow: hidden;
}
.banner .rectangle{
    height: 160px;
    width: 450px;
    background-color: #ffffff;
    position: absolute;
    bottom: -200px;
    right: 0px;
    transition: all ease 600ms;
}
.banner .rectangle-two{
    height: 350px;
    width: 450px;
    background-color: #231F20;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: all ease 600ms;
}
.banner-text{
    height: 100%;
    width: 100%;
    background-color: #F7941E;
}
.banner-image{
    position: absolute;
    height: 620px;
    width: 725px;
    z-index: 0;
}
.banner-image img{
    height: 580px;
    width: 725px !important;
    position: absolute;
    top: 0;
    left: 0;   
    z-index: 2;
    transition: all ease 600ms;
}
.banner-image .image-mask{
    height: 720px !important;
    width: 725px !important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7941e+15,f7941e+100&1+15,0.89+30,0.55+40,0+80,0.55+92,0.89+97,1+100 */
    background: -moz-linear-gradient(left,  rgba(247,148,30,1) 15%, rgba(247,148,30,0.89) 30%, rgba(247,148,30,0.55) 40%, rgba(247,148,30,0) 80%, rgba(247,148,30,0.55) 92%, rgba(247,148,30,0.89) 97%, rgba(247,148,30,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(247,148,30,1) 15%,rgba(247,148,30,0.89) 30%,rgba(247,148,30,0.55) 40%,rgba(247,148,30,0) 80%,rgba(247,148,30,0.55) 92%,rgba(247,148,30,0.89) 97%,rgba(247,148,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(247,148,30,1) 15%,rgba(247,148,30,0.89) 30%,rgba(247,148,30,0.55) 40%,rgba(247,148,30,0) 80%,rgba(247,148,30,0.55) 92%,rgba(247,148,30,0.89) 97%,rgba(247,148,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941e', endColorstr='#f7941e',GradientType=1 ); /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.banner-text-container{
    height: 100%;
    position: relative;
    z-index: 10;
}
.banner-text-container h1:nth-child(1){
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
}
.banner-text-container p:nth-child(2){
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #231F20; 
    width: 100%;
    max-width: 690px;
    margin: 4px 0px 0px;
}
.banner-text-container button{
    width: 200px;
    height: 50px;
    background: #231F20;
    border: 1px solid #FFFFFF;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-family: Gotham-Medium;
    color: #ffffff;
    outline: none;
}
section.projects{
    background-color: #231F20;
    padding: 20px 0px 10px;
}
section.projects img{
    width: 100% !important;
}
.projects-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 0px;
}
.projects-container .left{
    margin: 20px 20px;
}
.projects-container .right{
    margin: 20px 20px;
}
.projects-container .left h2{
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 49px;
    color: #FFFFFF;
    margin: 0px 0px 40px;
}
.projects-container .left p{
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    width: 100%;
    max-width: 370px;
    margin: 20px 0px;
}
.projects-container .left button{
    width: 200px;
    height: 50px;
    background: #F7941E;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    color: #231F20;
    font-size: 16px;
    font-family: Gotham-Medium;
}
section.about{
    position: relative;
    z-index: 0;
    background-color: #ffffff;
    padding: 0px 0px 10px;
}
section.about img{
    width: 100% !important;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 0px;
}
.about-container .left{
    margin: 20px 20px;
}
.about-container .right{
    margin: 20px 20px;
}
.about-container .right h2{
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 49px;
    color: #231F20;
    margin: 0px 0px 40px;
}
.about-container .right p{
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    color: #231F20;
    width: 100%;
    max-width: 370px;
    margin: 20px 0px;
}
.about-container .right button{
    width: 200px;
    height: 50px;
    background: #F7941E;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    color: #231F20;
    font-size: 16px;
    font-family: Gotham-Medium;
}
section.team{
    width: 100%;
}
.team-container{
    padding: 40px 0px 10px;
}
.team-head{
    padding: 20px;
}
.team-head h1{
    color: #231F20;
    font-family: Gotham-Book;
    text-align: center;
}
.team-members{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 15px;
}
.member{
    height: fit-content;
    width: 100%;
    min-width: 280px;
    max-width: 320px;
    margin: 10px 10px;
}
.member img{
    width: 100%;
}
.member-info{
    padding: 14px 10px;
}
.member-info h4{
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #231F20;
    font-family: Gotham-Medium;
}
.member-info p:nth-child(2){
    text-align: center;
    font-size: 16px;
    line-height: 15px;
    color: #ED1D24;
    font-family: Gotham-Book;
    padding: 10px;
}
.member-info p:nth-child(3){
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    color: #231F20;
    font-family: Gotham-Book;
    padding: 10px 0px;
}
.member-info a:nth-child(4){
    text-align: justify;
    font-size: 18px;
    line-height: 20px;
    color: #F7941E;
    font-family: Gotham-Book;
    padding: 10px 0px;
}
section.team .meet{
    padding: 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.team .meet button{
    width: 200px;
    height: 50px;
    background: #F7941E;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    color: #231F20;
    font-size: 16px;
    font-family: Gotham-Medium;
    margin: 20px auto 0px;
}
footer{
    height: fit-content;
}
footer .footer{
    height: fit-content;
    width: 100%;
    padding: 40px 0px 80px;
    background-color: #F7941E;
    background-image: url('img/footer\ background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
footer .socials{
    padding: 10px 0px 20px;
}

footer .social-hold{
    width: fit-content;
}
footer .socials a{
    padding: 2px;
    margin: 0px 2px;
}
footer .footer-links{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px 0px;
}
.footer-links .col{
    width: 100%;
    max-width: 320px;
    min-width: 280px;
    margin: 20px 0px;
}
.footer-links .col .link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 10px 10px;
}
.footer-links .col .link .icon{
    margin: 0px 10px 0px 0px;
}
.footer-links .col .link a{
    padding: 4px 16px;
    color: #ffffff;
    text-decoration: none;
    font-family: Gotham-Book;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.footer-copyright{
    background-color: #231F20;
    padding: 28px;
}
.footer-copyright p{
    font-family: Gotham-Book;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}



/* === ABout Page == */
section.banner.about{
    height: 482px !important;
    position: relative;
    background-color: #F7941E;
    overflow: hidden;
}
section.banner.about .banner-text{
    height: 482px;
    width: 100%;
    background-color: #F7941E;
}
section.banner.about .banner-image{
    position: absolute;
    height: 482px;
    width: 725px;
    z-index: 0;
}
section.banner.about .banner-image img{
    height: 482px !important;
    width: 725px !important;
    position: absolute;
    top: 0;
    left: 0;   
    z-index: 2;
}
section.banner.about .banner-image .image-mask{
    height: 482px !important;
    width: 725px !important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7941e+15,f7941e+100&1+15,0.89+30,0.55+40,0+80,0.55+92,0.89+97,1+100 */
    background: -moz-linear-gradient(left,  rgba(247,148,30,1) 15%, rgba(247,148,30,0.89) 30%, rgba(247,148,30,0.55) 40%, rgba(247,148,30,0) 80%, rgba(247,148,30,0.55) 92%, rgba(247,148,30,0.89) 97%, rgba(247,148,30,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(247,148,30,1) 15%,rgba(247,148,30,0.89) 30%,rgba(247,148,30,0.55) 40%,rgba(247,148,30,0) 80%,rgba(247,148,30,0.55) 92%,rgba(247,148,30,0.89) 97%,rgba(247,148,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(247,148,30,1) 15%,rgba(247,148,30,0.89) 30%,rgba(247,148,30,0.55) 40%,rgba(247,148,30,0) 80%,rgba(247,148,30,0.55) 92%,rgba(247,148,30,0.89) 97%,rgba(247,148,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941e', endColorstr='#f7941e',GradientType=1 ); /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
section.banner.about .banner-text-container{
    height: 482px;
    position: relative;
    z-index: 10;
}
section.branding{
    background-color: #231F20;
    padding: 20px 0px 10px;
}
section.branding img{
    width: 100% !important;
}
.branding-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 20px;
}
.branding-container .left{
    height: fit-content;
    min-height: 300px;
    padding: 20px 0px;
}
.branding-container .left h1{
    font-size: 52px;
    line-height: 52px;
    font-family: Gotham-Book;
    color: #FFFFFF;
}
.branding-container .left h1 strong{
    font-family: Gotham-Medium;
}
.branding-container .right{
    height: fit-content;
    min-height: 400px;
    padding: 20px 0px;
}
.branding-container .right p{
    margin: 0px 0px 20px;
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    color: #ffffff;
    width: 100%;
    max-width: 620px;
    min-width: 280px;
}
.team-head h1{
    text-align: left !important;
}
/* === || ABout Page == */









/* === Services Page == */
.services-container .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0px;
}
.services-container .row .column h1{
    font-size: 50px !important;
    line-height: 52px !important;
    font-family: Gotham-Medium;
    font-weight: 400;
    color: #FFFFFF;
}
.services-container .row .column p{
    font-family: Gotham-Medium;
    font-size: 52px;
    line-height: 52px;
    color: #FFFFFF;
    margin: 10px 0px 20px;
}
.services-container .row .column ul{
    margin-left: 20px;
}
.services-container .row .column ul li{
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 19px;
    text-align: justify;
    padding: 1px 10px;
    color: #ffffff;
    text-transform: capitalize;
    list-style: disc !important;
}
.services-container .row .column{
    height: fit-content;
    width: 100%;
    max-width: 460px;
    min-width: 280px;
    margin: 20px 20px;
}
/* === || Services Page == */






/* === Portfolio Page == */
.portfolio-container{
    padding: 40px 10px;
}
.row-content{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.row-content .left{
    height: auto !important;
    padding: 0px 11px 0px 0px;
}
.row-content .left img{
    width: 100%;
    max-width: 550px;
    min-width: 280px;
    margin: 20px 0px;
}
.row-content .right{
    height: 100%;
    margin: 20px 0px;
}
.row-content .right .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.row-content .right .row:nth-child(1) .col{
    padding: 0px 11px 20.5px;
}
.row-content .right .row:nth-child(2) .col{
    padding: 20.5px 11px 0px;
}
.skin-sense-right{
    padding: 0px 11px 0px;
}
.skin-sense-right img{
    width: 100%;
    max-width: 850px;
    min-width: 280px;
    margin: 20px 0px;
}
.twafane-row.one .twafane-col.one,
.twafane-row.two .twafane-col.one{
    padding: 0px 11px 20.5px;
}
.twafane-middle{
    padding: 0px 11px 0px;
}
.twafane-middle img{
    width: 100%;
    max-width: 550px;
    min-width: 280px;
    margin: 20px 0px;
}
.twafane-row.one .twafane-col.two,
.twafane-row.two .twafane-col.two{
    padding: 20.5px 11px 0px;
}
#tttext p{
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #231F20;
    margin: 10px;
}
/* === || Portfolio Page == */




/* === Blog Page == */
.blog-container{
    height: fit-content;
    position: relative;
}
.blog-container img.stars{
    position: absolute;
    bottom: -32px;
    left: -60px;
    width: 200px !important;
}
.blogs{
    display: none;
}
.blogs-content{
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.blog.blog-one{
    height: fit-content;
    padding: 10px;
}
.blog.blog-one img{
    width: 100%;
    max-width: 320px;
    min-width: 280px;
}
.blog.blog-info{
    padding: 10px 0px;
}
.blog .blog-info .headline{
    width: fit-content;
    padding: 5px 10px 5px 0px;
    border-bottom: 1px solid red;
    margin: 0px 0px 16px;
}
.blog .blog-info .headline p{
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 22px;
    color: #ED1D24;
}
.blog .blog-info a:nth-child(2){
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 0px;
}
.blog .blog-info p:nth-child(3){
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 22px;
    color: #828282;
    margin: 16px 0px 10px;
}
.blog.blog-two{
    height: fit-content;
    padding: 10px;
}
.blog.blog-two img{
    width: 100% !important;
    max-width: 700px;
    min-width: 280px;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.pagination .number.active,
.pagination .number:hover{
    background: #000000;
}
.pagination .number{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    height: 50px;
    width: 50px;
    margin: 2px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pagination .number span{
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
}
/* === || Blog Page == */

/* === Blog Content Page == */
main.blog-content nav .left{
    background-color: #FCFCFC !important;
}
main.blog-content .banner{
    height: 128px;
    position: relative;
    background-color: #FCFCFC;
}
.blog-contents{
    background-color: #FCFCFC;
    padding: 0px 0px 40px;
}
.blog-contents .blog-text{
    width: 60%;
    min-width: 280px;
    margin: auto;
}
.blog-contents .blog-text .headline{
    width: fit-content;
    padding: 5px 10px 5px 0px;
    border-bottom: 1px solid red;
    margin: 0px 0px 16px;
}
.blog-contents .blog-text .headline p{
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 22px;
    color: #ED1D24;
}
.blog-contents .blog-text h1{
    font-family: Gotham-Medium;
    margin: 20px;
    color: #231F20;
}
.blog-contents .blog-text p.headp{
    font-family: Gotham-Book;
    font-style: normal;
    text-align: justify;
    width: 100%;
    max-width: 100%;
    margin: 32px 0px 16px;

    font-weight: 700;
    font-size: 20px;
    line-height: 22px;

    /* black */

    color: #231F20;
}
.blog-contents .blog-images{
    width: 80%;
    min-width: 280px;
    margin: auto;
    padding: 20px;
}
.blog-contents .blog-images img{
    width: 100% !important;
}
.blog-contents .blog-text p.blur{
    font-family: Gotham-Book;
    font-style: normal;
    text-align: justify;
    width: 100%;
    max-width: 100%;
    margin: 16px 0px;

    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    /* black */

    color: #828282;
}
.related-stories{
    background-color: #ffffff;
}
.story-head{
    padding: 100px 0px 40px;
}
.story-head h1{
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 50px;
    text-align: center;

    /* black */

    color: #231F20;
}

.stories-content{
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.stories-content .story{
    margin: 20px 10px;
}
.story.story-one{
    height: fit-content;
    padding: 10px;
}
.story.story-one img{
    width: 100%;
    max-width: 320px;
    min-width: 280px;
}
.story.story-info{
    padding: 10px 0px;
}
.story .story-info .headline{
    width: fit-content;
    padding: 5px 10px 5px 0px;
    border-bottom: 1px solid red;
    margin: 0px 0px 16px;
}
.story .story-info .headline p{
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 22px;
    color: #ED1D24;
}
.story .story-info a:nth-child(2){
    font-family: Gotham-Book;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #231F20;
    text-decoration: none;
    padding: 14px 0px;
}
.story .story-info a:nth-child(2):hover{
    color: #ED1D24;
}
.story .story-info p:nth-child(3){
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 22px;
    color: #828282;
    margin: 16px 0px 10px;
}
.stories-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.stories-pagination .number.active,
.stories-pagination .number:hover{
    background: #000000;
}
.stories-pagination .number{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    height: 50px;
    width: 50px;
    color: #F7941E;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 2px;
}
.stories-pagination .number span{
    font-family: Gotham-Book;
    font-size: 20px;
    line-height: 22px;
    color: #F7941E;
}
.blg-content-image{
    margin: 80px 0px 0px;
}
/* === || Blog Content Page == */

/* Extra small devices (phones, 600px and down) */
@media screen and  (max-width: 400px) {
    nav .left{
        padding: 0px 15px !important;
    }
    nav .right{
        padding: 0px 15px !important;
        visibility: hidden;
    }
    .menu-links .image{
        width: 20%;
    }
    .menu-links .links{
        width: 80%;
    }
    .menu-links .links .menu-link{
        height: fit-content;
        width: 100%;
        max-width: 700px;
        min-width: 280px;
        padding: 20px !important;
    }
    .menu-links .links .menu-link a{
        font-size: 20px !important;
    }
    .menu-links .links .menu-link .closebtn{
        top: 20px;
        right: 20px;
        font-size: 20px !important;
    }
    .team-head h1{
        font-size: 28px !important;
        line-height: 36px !important;
        text-align: center !important;
    }
    .services-container .row .column p{
        font-size: 40px !important;
        line-height: 42px !important;
    }
    .services-container .row .column{
        margin: 20px 10px !important;
    }
    .blog-contents .blog-text h1{
        font-size: 54px !important;
        line-height: 50px !important;
    }
    .blog-container{
        padding: 80px 10px;
    }
}

@media screen and (min-width: 0px) and  (max-width: 600px) {
    nav{
        flex-wrap: wrap;
        height: 256px;
    }
    nav .left{
        height: 50%;
        width: 100% !important;
        max-width: 600px;
        min-width: 280px;
    }
    nav .right{
        height: 50%;
        width: 100% !important;
        max-width: 600px;
        min-width: 280px;
        padding: 0px 40px;
        visibility: hidden;
    }
    .menu-links .image{
        width: 20%;
    }
    .menu-links .links{
        width: 80%;
    }
    .menu-links .links .menu-link{
        height: fit-content;
        width: 100%;
        max-width: 700px;
        min-width: 280px;
        padding: 20px 60px 20px 80px;
    }
    .menu-links .links .menu-link a{
        font-size: 30px;
    }
    .menu-links .links .menu-link .closebtn{
        top: 20px;
        right: 40px;
        font-size: 30px;
    }
    .banner-text-container{
        padding: 220px 15px 20px;
    }
    .banner-image .image-mask{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7941e+20,f7941e+100&1+20,0.89+40,0.55+60,0.89+80,1+100 */
        background: -moz-linear-gradient(left,  rgba(247,148,30,1) 20%, rgba(247,148,30,0.89) 40%, rgba(247,148,30,0.55) 60%, rgba(247,148,30,0.89) 80%, rgba(247,148,30,1) 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(247,148,30,1) 20%,rgba(247,148,30,0.89) 40%,rgba(247,148,30,0.55) 60%,rgba(247,148,30,0.89) 80%,rgba(247,148,30,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(247,148,30,1) 20%,rgba(247,148,30,0.89) 40%,rgba(247,148,30,0.55) 60%,rgba(247,148,30,0.89) 80%,rgba(247,148,30,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941e', endColorstr='#f7941e',GradientType=1 ) !important; /* IE6-9 */

    }
    .banner-text-container h1:nth-child(1){
        font-size: 64px !important;
        line-height: 60px !important;
        font-weight: 500 !important;
    }
    .banner-text-container p:nth-child(2){
        font-size: 18px !important;
        line-height: 30px !important;
        min-width: 280px !important;
    }
    .banner-text-container button{
        margin: 20px 0px 0px;
    }
    footer .footer .socials{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    footer .footer-links{
        padding: 0px 15px;
        justify-content: space-evenly;
    }
    .team-head h1{
        font-size: 32px;
        line-height: 30px;
    }
    .services-container .row .column{
        margin: 20px 15px;
    }
    .blog-contents .blog-text h1{
        font-size: 54px;
        line-height: 50px;
    }
    .branding-container .left{
        height: fit-content;
        min-height: 220px;
        padding: 20px 0px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media screen and (max-width: 767px){
    .banner-image{
        right: -120px !important;
        top: 0 !important;
    }
    section.banner.about .banner-image{
        right: -120px !important;
        top: 0 !important;
    }
    .blog-container img.stars{
        position: absolute;
        bottom: -10%;
        left: -40%;
        width: 200px !important;
    }
    .banner-text-container button,
    .projects-container .left button,
    .about-container .right button {
        margin: 20px auto 0px !important;
    }
    .banner-text-container h1:nth-child(1){
        font-size: 54px !important;
        line-height: 60px !important;
        font-weight: 500 !important;
        text-align: center;
    }
    .banner-text-container p:nth-child(2){
        font-family: Gotham-Book;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: #ffffff; 
        width: 100%;
        max-width: 690px;
        margin: 4px 0px 0px;
        margin-top: 20px;
        text-align: center;
    }
    .projects-container .left h2{
        font-family: Gotham-Book;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 49px;
        color: #FFFFFF;
        margin: 0px 0px 40px;
        text-align: center;
    }
    .text-sm{
        text-align: center !important;

    }
}
@media screen and (min-width: 767px){
    .banner-image{
        right: 0px !important;
        top: 0 !important;
    }

    section.banner.about .banner-image{
        right: 0 !important;
        top: 0 !important;
    }
    .banner-text-container button{
        margin: 40px 0px 0px;
    }
    .projects-container .left button,
    .about-container .right button{
        margin: 20px 0px 0px;
    }
    
}
@media screen and (max-width: 767px) and (min-width: 601px) {
    nav{
        flex-wrap: wrap;
        height: 256px;
    }
    nav .left{
        height: 50%;
        width: 100% !important;
        max-width: 767px;
        min-width: 600px;
    }
    nav .right{
        height: 50%;
        width: 100% !important;
        max-width: 767px;
        min-width: 600px;
        padding: 0px 40px !important;
        visibility: hidden;
    }
    .menu-links .image{
        width: 10%;
    }
    .menu-links .links{
        width: 90%;
    }
    .menu-links .links .menu-link{
        height: fit-content;
        width: 100%;
        max-width: 700px;
        min-width: 280px;
        padding: 20px 100px 20px 100px;
    }
    .menu-links .links .menu-link a{
        font-size: 50px;
    }
    .menu-links .links .menu-link .closebtn{
        top: 10px;
        right: 40px;
        font-size: 50px;
    }
    .banner-text-container{
        padding: 280px 40px 20px;
    }
    .banner-image .image-mask{
        background: linear-gradient(90deg, 
        rgb(247, 148, 30) 20%, 
        rgba(247, 148, 30, 0.89) 40%, 
        rgba(247, 148, 30, 0.55) 60%, 
        rgba(247, 148, 30, 0) 80%,
        rgba(247, 148, 30, 0.55) 92%,
        rgba(247, 148, 30, 0.89) 97%,
        rgb(247, 148, 30) 100% ) !important;
    }
    .banner-text-container h1:nth-child(1){
        font-size: 70px !important;
        line-height: 60px !important;
        font-weight: 400;
    }
    .banner-text-container p:nth-child(2){
        font-size: 18px !important;
        line-height: 30px !important;
        min-width: 280px !important;
    }
    footer .footer .socials{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    footer .footer-links{
        padding: 0px 15px;
        justify-content: space-evenly;
    }
    .team-head h1{
        font-size: 42px;
        line-height: 40px;
    }
    .services-container .row .column{
        margin: 20px 20px !important;
    }
    .blog-contents .blog-text h1{
        font-size: 64px;
        line-height: 60px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */ 
@media screen and (max-width: 991px) and (min-width: 768px){
    nav{
        height: 128px !important;
        width: 100% !important;
    }
    nav .left{
        height: 100%;
        width: 50% !important;
    }
    nav .right{
        height: 100%;
        width: 50% !important;
    }

    .menu-links .image{
        width: 10%;
    }
    .menu-links .links{
        width: 90%;
    }
    .menu-links .links .menu-link{
        height: fit-content;
        width: 100%;
        max-width: 700px;
        min-width: 280px;
        padding: 20px 100px 20px 100px;
    }
    .menu-links .links .menu-link a{
        font-size: 50px;
    }
    .menu-links .links .menu-link .closebtn{
        top: 10px;
        right: 40px;
        font-size: 50px;
    }
    .banner-text-container{
        padding: 220px 40px 20px;
    }
    footer .footer .socials{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    footer .footer-links{
        padding: 0px 20px;
        justify-content: space-evenly;
    }
    section.banner.about .banner-text-container{
        padding: 220px 0px 20px;
    }
    .team-head h1{
        font-size: 52px;
        line-height: 50px;
    }
    .services-container .row .column{
        margin: 20px 20px !important;
    }
    .blog-contents .blog-text h1{
        font-size: 74px;
        line-height: 70px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) {
    nav{
        height: 128px !important;
        width: 100% !important;
    }
    nav .left{
        height: 100%;
        width: 40% !important;
    }
    nav .right{
        height: 100%;
        width: 60% !important;
    }
    .menu-links .image{
        width: 10%;
    }
    .menu-links .links{
        width: 90%;
    }
    .menu-links .links .menu-link{
        height: fit-content;
        width: 100%;
        max-width: 700px;
        min-width: 280px;
        padding: 20px 100px 20px 100px;
    }
    .menu-links .links .menu-link a{
        font-size: 50px;
    }
    .menu-links .links .menu-link .closebtn{
        top: 10px;
        right: 10px;
        font-size: 50px;
    }
    .banner-text-container{
        padding: 220px 40px 20px;
    }
    footer .footer-links{
        justify-content: space-between;
    }
    section.banner.about .banner-text-container{
        padding: 220px 0px 20px;
    }
    .team-head h1{
        font-size: 52px;
        line-height: 50px;
    }
    .services-container .row .column{
        margin: 20px !important;
    }
    .blog-contents .blog-text h1{
        font-size: 84px;
        line-height: 80px;
    }
}


/* CUSTOM */
@media screen and (max-width: 1192px) and (min-width: 768px){
    .twafane-row.one{
        display: flex;
        justify-content: space-between;
    }
    .twafane-row.one .twafane-col.one,
    .twafane-row.one .twafane-col.two{
        padding: 20.5px 11px;
    }
    .twafane-row.two{
        display: flex;
        justify-content: space-between;
    }
    .twafane-row.two .twafane-col.one,
    .twafane-row.two .twafane-col.two{
        padding: 20.5px 11px;
    }
}
@media screen and (max-width: 999px) and (min-width: 768px){
}